.btn {
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 14px;
  border-width: 2px;
  border-radius: 6px;
}

.btn-primary {
  color: $primary-color;
  background-color: $white-color;
  border-color: $primary-color;
  &:hover {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
