footer {
  width: 100%;
  min-height: 50px;
  padding: 7px;
  background-color: $primary-color;
  img {
    padding-bottom: 5px;
  }
  div.row > div {
    margin-top: 7px;
    color: $primary-color-light;
  }
  .version {
    margin-top: -3px;
    font-size: 10px;
  }
  .texts, .version {
    color: $white-color;
  }
  a {
    color: $accent-color;
    &:hover {
      color: $white-color;
      text-decoration: underline;
    }
  }
}

.texts-signin, .version {
  margin-bottom: 10px;
  font-size: 12px;
}
