input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

input[type="checkbox"] {
  padding: 6px;
  border: 2px solid $primary-color;
  border-radius: 3px;
  -webkit-appearance: none;
  &:checked {
    background-color: $primary-color;
  }
  &:focus {
    outline: none;
  }
}

input[disabled][type="number"] {
  padding: 7px 5px;
  background-color: #eee;
  border: 0;
}

.form-control:focus {
  border-color: #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 148, 207, 0.6);
}
