.navbar {
  width: auto;
  padding: 1px 5px;
  background-color: $light-blue-color;
  display: flex;
  justify-content: space-between;
  .navbar-nav .nav-link {
    padding: 5px 10px 6px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.9em;
    color: #fff;

    &:hover {
      color: #000;
    }
  }
  
  .dropdown-menu {
    color: $primary-color;
    background-color: $primary-color-light;

    &:hover {
      background-color: $primary-color-light;
    }
  }
}
