.home-root {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 80px 0;
  align-items: center;
  justify-content: center;
  .home-welcome {
    margin-bottom: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
}
