@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica-Neue-LT-Std-55-Roman.woff2") format("woff2");
}

.logo-svg {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  .logo-txt {
    margin: 2px 5px 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8.5px;
    color: #fff;
    text-align: right;
  }
  .vanilla {
    width: 120px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    img {
      width: 80px;
      height: 27px;
      margin: 6px 0 0 20px;
    }
  }
}
