ul.tg-list,
li.tg-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tg-list {
  display: flex;
  text-align: center;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
  background: none;
}

.tgl+.tgl-btn {
  position: relative;
  display: block;
  width: 4em;
  height: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}

.tgl+.tgl-btn:after {
  left: 0;
}

.tgl+.tgl-btn:before {
  display: none;
}

.tgl:checked+.tgl-btn:after {
  left: 50%;
}

.tgl-light+.tgl-btn {
  padding: 2px;
  background: #f0f0f0;
  border-radius: 2em;
  transition: all .4s ease;
}

.tgl-light+.tgl-btn:after {
  background: #fff;
  border-radius: 50%;
  transition: all .2s ease;
}

.tgl-light:checked+.tgl-btn {
  background: #9fd6ae;
}

.tgl-ios+.tgl-btn {
  padding: 2px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2em;
  transition: all .4s ease;
}

.tgl-ios+.tgl-btn:after {
  background: #333;
  border-radius: 2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
}

.tgl-ios+.tgl-btn:hover:after {
  will-change: padding;
}

.tgl-ios+.tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios+.tgl-btn:active:after {
  padding-right: .8em;
}

.tgl-ios:checked+.tgl-btn {
  background: #eee;
  border: 1px solid #ccc;
}

.tgl-ios:checked+.tgl-btn:active {
  box-shadow: none;
}

.tgl-ios:checked+.tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed+.tgl-btn {
  overflow: hidden;
  font-family: sans-serif;
  background: #888;
  transition: all .2s ease;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tgl-skewed+.tgl-btn:after,
.tgl-skewed+.tgl-btn:before {
  position: absolute;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  line-height: 2em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  transition: all .2s ease;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

.tgl-skewed+.tgl-btn:after {
  left: 100%;
}

.tgl-skewed+.tgl-btn:before {
  left: 0;
}

.tgl-skewed+.tgl-btn:active {
  background: #888;
}

.tgl-skewed+.tgl-btn:active:before {
  left: -10%;
}

.tgl-skewed:checked+.tgl-btn {
  background: #86d993;
}

.tgl-skewed:checked+.tgl-btn:before {
  left: -100%;
}

.tgl-skewed:checked+.tgl-btn:after {
  left: 0;
}

.tgl-skewed:checked+.tgl-btn:active:after {
  left: 10%;
}

.tgl-flat+.tgl-btn {
  padding: 2px;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
  transition: all .2s ease;
}

.tgl-flat+.tgl-btn:after {
  background: #f2f2f2;
  border-radius: 1em;
  transition: all .2s ease;
}

.tgl-flat:checked+.tgl-btn {
  border: 4px solid #7fc6a6;
}

.tgl-flat:checked+.tgl-btn:after {
  left: 50%;
  background: #7fc6a6;
}

.tgl-flip+.tgl-btn {
  padding: 2px;
  font-family: sans-serif;
  transition: all .2s ease;
  perspective: 100px;
  -webkit-perspective: 100px;
}

.tgl-flip+.tgl-btn:after,
.tgl-flip+.tgl-btn:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  line-height: 2em;
  color: #333;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 4px;
  transition: all .4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tgl-flip+.tgl-btn:after {
  background: #02c66f;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.tgl-flip+.tgl-btn:before {
  background: #ff3a19;
}

.tgl-flip+.tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.tgl-flip:checked+.tgl-btn:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tgl-flip:checked+.tgl-btn:after {
  left: 0;
  background: #7fc6a6;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.tgl-flip:checked+.tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}
