$blue:    #219c97 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #c92b42 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$white:   #fff    !default;

$primary-color:         $blue;
$primary-color-dark:    rgba(31, 7, 33, 0.52);
$primary-color-light:   #d6e8e8;//primarios
$primary-color-text:    #2a2a2a;//letra
$accent-color:          $red;
$header-color-table:    #555;
$white-color:           #fff;
$white-color-2:         #f1f1f1;//letra
$light-blue-color:      #219c97;//primarios
$light-blue-color-dark: #3a827f;
$complemento1: #DFB021;//complemento
$complemento2: #FFF0D6;//complemento
$danger: #C92B42;//complemento
$grey: #B8B8B8;//letra
$background: #FAFAFA;//letra
$input-border-color: #f1f1f1;
